<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span9">
    <% if @idea.picture_url && @idea.picture_url.include?("mp4") %>
          
            <video controls width="350">
              <source src="<%= @idea.picture_url %>" type="video/mp4">
            </video>
          <% else %>
              <%= image_tag @idea.picture_url, :width => '350px' if @idea.picture%>
          <% end %> 
  </div>

  <div class="span3">
    <p><b>Name: </b><%= @idea.name %></p>
    <p><b>Description: </b><%= @idea.description %></p>
    <p>
      <%= link_to 'Edit', edit_idea_path(@idea) %> |
      <%= link_to 'Destroy', @idea, confirm: 'Are you sure?', method: :delete %> |
      <%= link_to 'Back', ideas_path %>
    </p>
  </div>
</div>